@import "tailwindcss";

@theme {
  /* Цвета */
  --color-primary-1: #0b4872;
  --color-primary-2: #086190;
  --color-primary-3: #0771a2;
  --color-primary-4: #26C7FF;

  --color-accent-1: #0490c7;
  --color-accent-2: #2dbff2;
  --color-accent-3: #74d4f7;
  --color-accent-4: #9de0fa;
  --color-accent-5: #383737;
  --color-accent-6: #565454;
  --color-accent-7: #474646;

  --color-neutral-black-elbrus: #0d0c0c;
  --color-neutral-bright-beginning: #f8f7f7;

  --color-button-primary: #F8F7F7;

  --background-image-title-gradient: radial-gradient(50% 50% at 50% 50%, #F8F7F7 0%, #807E7E 100%);
  /* Размеры шрифтов */
  --text-mega-mobile: 24px;
  --text-mega-tablet: 32px;
  --text-mega-desktop: 42px;
  
  --text-h1-mobile: 18px;
  --text-h1-tablet: 24px;
  --text-h1-desktop: 28px;

  --text-h2-mobile: 16px;
  --text-h2-tablet: 20px;
  --text-h2-desktop: 22px;

  --text-h3-mobile: 14px;
  --text-h3-tablet: 16px;
  --text-h3-desktop: 18px;

  --text-h4-mobile: 13px;
  --text-h4-tablet: 14px;
  --text-h4-desktop: 16px;

  --text-body-mobile: 14px;
  --text-body-tablet: 16px;
  --text-body-desktop: 16px;

  /* Line heights */
  --leading-mega-mobile: 32px;
  --leading-mega-tablet: 40px;
  --leading-mega-desktop: 44px;

  --leading-h1-mobile: 24px;
  --leading-h1-tablet: 32px;
  --leading-h1-desktop: 32px;

  --leading-h2: 20px;
  --leading-h3: 20px;
  --leading-h4: 20px;

  --leading-body-mobile: 20px;
  --leading-body-tablet: 24px;
  --leading-body-desktop: 24px;

  --paragraph-spacing-mobile: 8px;
  --paragraph-spacing-tablet: 12px;
  --paragraph-spacing-desktop: 12px;

  --secondary-title: 24px;
}

/* Классы для размеров текста */
.text-mega-mobile {
  font-size: var(--text-mega-mobile);
  line-height: var(--leading-mega-mobile);
}

.text-mega-tablet {
  font-size: var(--text-mega-tablet);
  line-height: var(--leading-mega-tablet);
}

.text-mega-desktop {
  font-size: var(--text-mega-desktop);
  line-height: var(--leading-mega-desktop);
}

.text-h1-mobile {
  font-size: var(--text-h1-mobile);
  line-height: var(--leading-h1-mobile);
}

.text-h1-tablet {
  font-size: var(--text-h1-tablet);
  line-height: var(--leading-h1-tablet);
}

.text-h1-desktop {
  font-size: var(--text-h1-desktop);
  line-height: var(--leading-h1-desktop);
}

.text-h2-mobile {
  font-size: var(--text-h2-mobile);
  line-height: var(--leading-h2);
}

.text-h2-tablet {
  font-size: var(--text-h2-tablet);
  line-height: var(--leading-h2);
}

.text-h2-desktop {
  font-size: var(--text-h2-desktop);
  line-height: var(--leading-h2);
}

.text-h3-mobile {
  font-size: var(--text-h3-mobile);
  line-height: var(--leading-h3);
}

.text-h3-tablet {
  font-size: var(--text-h3-tablet);
  line-height: var(--leading-h3);
}

.text-h3-desktop {
  font-size: var(--text-h3-desktop);
  line-height: var(--leading-h3);
}

.text-h4-mobile {
  font-size: var(--text-h4-mobile);
  line-height: var(--leading-h4);
}

.text-h4-tablet {
  font-size: var(--text-h4-tablet);
  line-height: var(--leading-h4);
}

.text-h4-desktop {
  font-size: var(--text-h4-desktop);
  line-height: var(--leading-h4);
}

.text-body-mobile {
  font-size: var(--text-body-mobile);
  line-height: var(--leading-body-mobile);
}

.text-body-tablet {
  font-size: var(--text-body-tablet);
  line-height: var(--leading-body-tablet);
}

.text-body-desktop {
  font-size: var(--text-body-desktop);
  line-height: var(--leading-body-desktop);
}

/* Классы для отступов между параграфами */
.paragraph-spacing-mobile {
  margin-bottom: var(--paragraph-spacing-mobile);
}

.paragraph-spacing-tablet {
  margin-bottom: var(--paragraph-spacing-tablet);
}

.paragraph-spacing-desktop {
  margin-bottom: var(--paragraph-spacing-desktop);
}

.font-open-sans {
  font-family: var(--font-open-sans), sans-serif;
}

.font-heading {
  font-family: var(--font-montserrat), sans-serif;
}

@media screen and (min-width: 768px) {
  :root {
    --secondary-title: 48px;
  }
}
