@font-face {
  font-family: 'icomoon';
  src:  url('../public/icomoon/icomoon.eot?hgxf3c');
  src:  url('../public/icomoon/icomoon.eot?hgxf3c#iefix') format('embedded-opentype'),
    url('../public/icomoon/icomoon.ttf?hgxf3c') format('truetype'),
    url('../public/icomoon/icomoon.woff?hgxf3c') format('woff'),
    url('../public/icomoon/icomoon.svg?hgxf3c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e905";
}
.icon-cods:before {
  content: "\e900";
}
.icon-chartline:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}

